    * {
            margin: 0;
            padding: 0;
        }

        body {
            color: #777777;
        }

        ul {
            list-style: none;
        }

        h5 {
            color: #000;
            font-size: 18px;
            margin-bottom: 10px;
            padding: 10px;
        }

        a {
            text-decoration: none;
            color: #fff;
        }

        .container {
            width: 1200px;
            margin: 0 auto;

        }

        .clearfix:after {
            content: "";
            display: block;
            clear: both;
        }

        .btn {
            display: inline-block;
            padding: 18px 35px;
            background-color: #fed136;
            border-radius: 4px;
            margin-top: 50px;
            font-size: 18px;
            font-weight: 800;
        }

        .btn:hover {
            color: #fff;
            background-color: #ffb700;
        }

        /*导航栏*/
        .navbar a {
            text-decoration: none;
            color: #fff;
            transition: color 1s;
        }

        .navbar {
            width: 100%;
            height: 70px;
            background-color: rgba(0, 0, 0, 0.8);
            position: fixed;
            top: 0;
            left: 0;
            z-index: 10;
        }

        .logo {
            height: 50px;
            margin-top: 10px;
            margin-right: 20px;
        }

        .nav-left {
            float: left;
        }

        .nav-left h1 {
            display: inline-block;
            vertical-align: top;
            line-height: 70px;
            color: #eec554;
        }

        nav ul {
            width: 400px;
            list-style: none;
            float: right;
        }

        nav li {
            float: left;
            width: 20%;
            height: 70px;
            text-align: center;
            line-height: 70px;
        }

        a:hover {
            color: #eec554;
        }

        /*首页*/
        header {
            width: 100%;
            height: 700px;
            background: url("images/header1.jpg");
            background-size: cover;
            overflow: hidden;
        }

        header .container {
            text-align: center;
        }

        header .welcome {
            margin-top: 290px;

        }

        header h2 {
            text-align: center;
            color: #fff;
            font-size: 30px;
            margin-bottom: 10px;
        }

        header h3 {
            text-align: center;
            color: #fff;
            font-size: 60px;
            background-color: rgba(216, 152, 0, 0.5);
        }

        /*团队理念*/
        .iconfont {
            margin-bottom: 50px;
            font-size: 50px;
            color: #fff;

        }

        dl {
            margin-top: 100px;
            text-align: center;
            margin-bottom: 80px;
        }

        dt {
            font-size: 40px;
            margin-bottom: 10px;
            color: #000;
            font-weight: 700;
        }

        #concept li {
            width: 33.33333333%;
            float: left;
        }

        #concept .content {
            position: relative;
            text-align: center;
        }

        .circle:after {
            content: "";
            display: inline-block;
            position: absolute;
            z-index: -1;
            top: -20px;
            left: 150px;
            width: 100px;
            height: 100px;
            background-color: rgba(255, 199, 0, .7);
            border-radius: 50%;
        }

        .content p {
            padding: 10px;
        }

        #concept {
            margin-bottom: 150px;
        }

        #member {
            margin-top: 150px;
            padding-bottom: 150px;
            background-color: #f7f7f7;
        }

        #member li {
            position: relative;
            width: 33.33333333%;
            float: left;
            padding: 10px;
            box-sizing: border-box;
            margin-bottom: 20px;
            /*background-color: #fff;*/
        }

        #member img {
            width: 100%;
            height: 247px;

        }

        #member .info {
            text-align: center;
            padding-top: 20px;
            padding-bottom: 20px;
            background-color: #fff;
        }

        .bfc {
            overflow: hidden;
        }

        .cover {
            position: absolute;
            left: 10px;
            top: 10px;
            width: 380px;
            height: 247px;
            background-color: rgba(255, 201, 6, .7);
            opacity: 0;
            transition: opacity, .8s;
        }

        .cover:hover {
            opacity: 1;
        }

        .icon-center {
            position: absolute;
            left: 45%;
            top: 40%;
        }

        /*队史与荣誉*/
        #history {
            margin-bottom: 150px;
        }

        #history p {
            font-size: 14px;
        }

        .timeline h5 {
            margin: 0;
        }

        .timeline > li {
            position: relative;
            text-align: center;
            padding: 0 0 125px 0;
            font-size: 0;
        }

        #history img {
            width: 150px;
            height: 150px;
            border-radius: 50%;
            border: 7px solid #f1f1f1;

        }

        .timeline > li > .content {
            position: absolute;
            top: 0;
            right: 50%;
            margin-right: 118px;
            text-align: right;
            width: 347px;
        }

        .timeline > li:nth-child(even) > .content {
            left: 50%;
            margin-left: 118px;
            text-align: left;
        }

        .timeline > li::after {
            content: '';
            display: block;
            position: absolute;
            left: 50%;
            top: 0;
            margin-left: 1px;
            border-left: 2px solid #f1f1f1;
            height: 100%;
            z-index: -1;
        }

        .timeline > li:last-child {
            padding-bottom: 0;
        }

        /*教练组*/
        #coach {
            padding: 10px 0 100px 0;
            background: #f7f7f7;
        }

        .member > li {
            width: 33.33333333%;
            float: left;
            text-align: center;
        }

        .member > li > img {
            width: 225px;
            height: 225px;
            border-radius: 50%;
        }

        .member > li > h4 {
            margin-top: 25px;
            font-size: 18px;
            line-height: 18px;
            font-weight: bold;
            color: #333;
        }

        .member > li > p {
            margin-bottom: 10px;
            font-size: 14px;
            line-height: 24px;
            color: #777;
        }

        .social {
            font-family: "iconfont";

            font-size: 40px;
            color: #000;
        }

        .social > li {
            display: inline-block;
            width: 40px;
            height: 40px;
            border-radius: 50%;
            transition: .3s;
            cursor: pointer;
        }


        .member {
            margin-bottom: 50px;
        }

        #coach > p:last-of-type {
            text-align: center;
            width: 750px;
            margin-left: auto;
            margin-right: auto;
            font-size: 16px;
            line-height: 28px;
            margin-bottom: 10px;
            color: #777;
        }
        .exp{
            width: 900px;
            text-align: center;
            margin-left: auto;
            margin-right: auto;
        }

    /*contact*/

    #contact {
        padding: 150px;
        background-color: #222;
        background-image: url(images/hearder3.jpg);
        background-repeat: no-repeat;
        background-position: center center;
    }
    #contact p{
        margin-bottom:10px;
    }

    #contact .block-title {
        color: #fff;
    }


    .contact-left {
        float: left;
        width: 40%;
        padding: 0 15px;
        margin-bottom: 30px;
    }

    .contact-left > input {
        display: block;
        margin-bottom: 25px;
        padding: 10px;
        width: 100%;
        height: 54px;
        line-height: 54px;
        border-radius: 5px;
        background-color: #fff;
        border: 1px solid #ccc;
        font-size: 14px;
        font-weight: bold;
        color: #555;
        outline: none;
    }

    .contact-left > input:nth-child(3) {
        margin: 0;
    }

    .contact-right {
        float: left;
        width: 50%;
        padding: 0 15px;
        margin-bottom: 30px;
    }

    .contact-right > textarea {
        display: block;
        padding: 20px;
        width: 100%;
        height: 236px;
        border-radius: 5px;
        font-size: 14px;
        font-weight: bold;
        color: #555;
        outline: none;
    }
    .sub-btn {
        text-align: center;
    }

    .sub-btn > input {
        display: inline-block;
        padding: 20px 40px;
        font-size: 18px;
        font-weight: bold;
        border-radius: 3px;
        background: #fed136;
        transition: .3s;
        border: none;
        color: #fff;
        cursor: pointer;
    }
    .sub-btn > input:hover {
        background: #fec236;
    }


    /*footer*/

    #footer {
        text-align: center;
        padding: 30px 0;
        display: flex;
        justify-content: space-between;
        line-height: 40px;
    }

    #footer > p,
    #footer > ul,
    #footer > div {
        float: left;
    }

    #footer > p {
        margin-left: 300px;
    }

    #footer > div {
        margin-right: 300px;
    }

    #footer > div > a {
        color: #fed136;
    }

    #footer> div > a:hover {
        text-decoration: underline;
    }

    #footer > ul li {
        margin-left: 10px;
    }

