*{
    margin:0;
    padding:0;
}
ul li{
    list-style: none;
}
a{
    cursor: pointer;
    text-decoration: none;
}
.weather-main{
    width: 810px;
    /*height: 500px;*/
    margin:30px auto;
    /*background-color: red;*/
    border:1px solid;
    border-radius: 5px;

}
.top-show{
    /*float:right;*/
    padding:8px;
    font-weight: 700;
    margin-bottom: 20px;


}
.main-show{
    /*clear:right;*/

    margin-left:50px;


}

.show-weather p{
    font-size:30px;
    color:red;
    margin-bottom:5px;
}
.show-weather span{
    display: inline-block;
    margin-left:5px;
    font-size: 18px;
}
.show-wind,.show-tem{
    font-size:20px;
}
/*.show-tem{*/
    /*font-size:20px;*/
/*}*/

.weather-ditail{
    float:right;
    width:400px;
    /*margin-right:260px;*/
    border-top: 1px solid #000;
    border-left: 1px solid #000;
    border-bottom: 1px solid #000;
    border-radius: 5px;

}

.weather-ditail  li{
    margin:8px 3px;
    
}

.btn{
    padding: 3px 5px;
    /*background-color: greenyellow;*/
    border-radius:3px;
}
.cloth{
    background-color:greenyellow;
}
.car{
    background-color: orangered;
}
.cold{
    background-color: skyblue;
}
.sport{
    background-color: yellow;
}
.ray{
    background-color: mediumpurple;
}
.level{

}
.btn-active{

}

.weather-ditail .des{
    width: 200px;
    height: 150px;
    /*border: 1px solid #000;*/
    float: right;
}
.des p{
    text-indent: 2rem;
}

.des li{
    display: none;
}
.des .active{
    display: block;
}
/*.des ul li{*/
    /*display: none;*/
/*}*/

.tabs li{
    float: left;
    width: 270px;
    margin-top:30px;
    border-right: 1px solid #000;
    border-top:1px solid #000;
    text-align: center;
    box-sizing: border-box;
}

.tabs li:last-of-type{
    border-right: 0;
}
.tabs li>p{
    border-bottom:1px solid;
}

.clearfix:after {
    content: "";
    display: block;
    clear: both;
}


